body {
    /* margin: 0;
    padding: 0; */
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-items: center;
}

.block1 {
    background-color: #38AECC;
    padding: 3rem 0rem 1rem 0rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.container {
    /* height: max-content; */
    /* width: fit-content; */

    background-color: black;
    background-color: #5a6882;
    /* object-fit: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    /* color: black; */
}

.options {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    object-fit: contain;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 30vw;
    min-width: 40%;
    height: 40vh;
    /* font-size: larger; */
    font-size: clamp(1.25rem, 6vw, 15px);
}

.block11 {
    /* margin: 0rem 15rem 3rem 15rem; */
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 60%;
    height: max-content;
}

@media screen and (max-width:874px) {
    .block11 {
        width: 90%;
    }

    .options {
        min-width: 70%;
    }

}

@media screen and (max-width:359px) {
    .block1 {
        background-color: black;
    }

    .container {
        background-color: black;
    }

    .options {
        margin: 0px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 1rem 0rem 1rem 0rem;
    line-height: 3rem;
}

#generate {
    background-color: white;
    color: #122932;
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 9px;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    font-size: larger;
}

#password {
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 16rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

#length {
    border: 2px solid white;
    display: flex;
    text-align: center;
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
}

label {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.options input {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0.5rem;
}

.op {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lowercase,
#uppercase,
#symbols,
#numbers {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}